body {
	background-color: black;
}

.col {
	font-size: 60px;
	font-weight: bold;
	color: white;
	float: left;
}

.col-50 {
	width: 50%;
}

.col-33 {
	width: 33.33%;
}

.col-1 {
	background-color: green;
}

.col-2 {
	background-color: red;
}

.col-3 {
	background-color: yellow;
}

.row-flex{
	font-size: 60px;
	font-weight: bold;
	color: white;
	display: flex;
	width: 100%;
}

.col-flex{
	flex: 1;
}